<body>
  <div>
    <nav class="navbar bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand">Aplicación CRUD</a>
        <!-- Create Product -->
        <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addProductModal">
          Crear producto
        </button>
        <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addProductModalLabel">
                Crear producto
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="productName" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="productName" name="name" required/>
                </div>
                <div class="mb-3">
                  <label for="productDescription" class="form-label">Descripción</label>
                  <textarea class="form-control" id="productDescription" name="description" required></textarea>
                </div>
                <div class="mb-3">
                  <label for="productPrice" class="form-label">Precio</label>
                  <input type="number" class="form-control" id="productPrice" name="price" required/>
                </div>
                <div class="mb-3">
                  <label for="productImage" class="form-label">Imagen</label>
                  <input type="text" class="form-control" id="productImage" name="image" required/>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-success" data-bs-dismiss="modal">
                    Crear
                  </button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cerrar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Create Product -->
      </div>
    </nav>
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th width="150px" scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th width="100px" scope="col">Precio</th>
          <th scope="col">Imagen</th>
          <th width="190px" scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <!-- Get Products -->
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>${{ product.price }} CLP</td>
          <td>{{ product.image }}</td>
          <!-- Get Products -->
          <!-- Edit Product -->
          <td>
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editProductModal">
              Editar
            </button>
          <div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="editProductModalLabel">
                    Editar producto
                  </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <label for="productName" class="form-label">Nombre</label>
                      <input type="text" class="form-control" id="productName"
                      name="name" required/>
                    </div>
                    <div class="mb-3">
                      <label for="productDescription" class="form-label">Descripción</label>
                      <textarea class="form-control" id="productDescription"
                      name="description" required></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="productPrice" class="form-label">Precio</label>
                      <input type="number" class="form-control" id="productPrice"
                      name="price" required />
                    </div>
                    <div class="mb-3">
                      <label for="productImage" class="form-label">Imagen</label>
                      <input type="text" class="form-control" id="productImage"
                      name="image" required/>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-success" data-bs-dismiss="modal">
                        Actualizar
                      </button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Edit Product -->
          <!-- Delete product  -->
          <button class="btn btn-danger">
            Eliminar
          </button>
          <!-- Delete product  -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
